.root1080 .m-bixbox{
    margin-top: 8px;
    color: #947564;
} 
.m-heaTit{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.m-Conlis{
    border-top:1px solid #f1d3b0;
    border-left:1px solid #f1d3b0;
}
.m-heaTit .timfr,.m-heaTit .timend,.m-heaTit .timstar{
    width: 30%;
}
.timfr #everyDate{
    width:28%;
    color: #76be74;
}
.timfr #everyDateInput{
    width: 10%;
    border: 1px solid #ededed;
    color: #76be74;
    text-align: center;
    height: auto;
    line-height: normal;
}

.timfr .n-tit{
    color: blue;
}
.timend em{
    color: #673b25;
}
.timstar em{
    color: red;
}
/*内容区*/
.m-Conlis .m-flr{
    width: 16%;
    text-align: center;
}
.m-flr .n-list{
    text-align: center;
    height: 26px;
    line-height: 25px;
    border-bottom:1px solid #f1d3b0;
    border-right:1px solid #f1d3b0;
}
.m-flr .n-fist{
    text-align: center;
    background: #fde7d8;
}
.m-flr.m-flrlas{
    width: 20%;
}
.n-sec .n-Numco,.n-sec .n-Odds{
    width: 30%;
    border-right:1px solid #f1d3b0;
    background: #fde7d8;
}
.n-sec .n-fri{
    width: 40%;
    background: #fde7d8;
}
.n-thre .n-Numco,.n-thre .n-Odds{
    width: 30%;
    border-right:1px solid #f1d3b0;
}
.n-thre .n-Numco{
    background: #fdf8f2;
}
.n-thre .n-Odds{
    background: #fff;
}
.n-thre .n-fri{
    width: 40%;
    overflow: hidden;
    background: #fff;
}
.n-thre .numIpu{
    width: 90%;
    font-size: 12px;
    height:14px;
    line-height: 14px;
    padding: 0;
    margin:1px auto;
    background: #fff;
    border:1px solid #ccc;
    color: #000;
}
.n-four .u-radio{
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
 /*   behavior: url(PIE.htc);*/   /*路径根据实际情况*/
    background: #fff;
    border:3px solid #2d7eb7;
}
.n-thre .n-Odds,.n-four.n-Odds{
    color: red;
    overflow: hidden;
}
.n-tabcar .n-Numco,
.n-tabcar .n-Odds,
.n-tabcar .n-fri{
    background: #fde7d8;
    cursor: pointer;
    color:#000;
}
.n-tabcar .n-Numco,
.n-tabcar .n-Odds{
     border-right:1px solid #f1d3b0;
}
.n-tabcar .u-coryel{
    background: #fef2b8;
}
/*按钮区域*/
.m-butsub{
    text-align: center;
    background: #fff;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
}
.m-butsub em{
    color: #42a53f;
}
.m-butsub a{
    padding: 3px 20px 2px;
    background: #fbe9df;
    font-size: 12px;
    color: #0c3e09;
    border:1px solid #f1d3b0;
}
.m-butsub .addcss{
    padding: 3px 20px 2px;
    background: #fbe9df;
    font-size: 12px;
    color: #0c3e09;
    border:1px solid #f1d3b0;
}
.m-butsub input{
    width: 15px;
    height: 15px;
    margin-right:4px;
    position:relative;
    top: 2px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.cover{
    width: 25%;
    height:100%;
    background: rgba(33,33,33,0.8);
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0;
    margin-right: -30%;
    overflow:hidden;
    overflow-y:auto; 
}
.dan_zhu{
    width: 100%;
    min-height: 260px;
    height: auto;
    background: #FFFFFF;
    color: #000000;
    font-size: 16px;
    margin: 131px auto 0px !important;
}
.dan_zhu .piao_title{
    width: 100%;
    height: 25px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
.dan_zhu .piao_title span{
    color: #00ff00;
    font-weight: 700;
    font-size: 20px;
    font-family: "arial, helvetica, sans-serif";
}
.num_zhudan{
    /* width: 203px;
    height: auto;
    font-size: 16px;
    color: #000000;
    overflow: hidden; */
    padding-left:17px;width: 100%;overflow:hidden;height: auto;font-size:20px;color: #000000;
}
.num_zhudan .num_left,.num_zhudan .num_right{
    font-size:20px;color:#000;
}
.num_zhudan .num_right{
    font-size:20px;color:#000;padding-right:20px;
}
.num_zhudan .num_right span{
    display: block;
}
.money_xiazhu{
    width: 100%;
    height: 28px;
    line-height:28px;
    font-size: 16px;
    color: #000000;
}
.print_default{
    margin: 2px auto;
    overflow: hidden;
    width: 100%;
    height:35px ;
    background: #FFFFFF;
    color: #000000;
    font-size: 16px;
    line-height: 35px;
}
.print_piao input{
    width: 85px;
    height: 35px;
    cursor: default;
    line-height: 35px;
    border: 1px solid #666;
    background: #999;
    color: #FFFFFF;
    
}
.print_piao input:active{
    box-shadow: 1px 0px 1px 1px #000000;
}

/*单球1~5---------------start*/
.m-allque .n-toplis{
    border-left: 1px solid #605559;
    border-top: 1px solid #605559;
}
.n-toplis .n-frtit{
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-right: 1px solid #605559;
    border-bottom: 1px solid #605559;
    background: #e99a9f;
    overflow: hidden;
}
.n-toplis .n-frLef{
    width: 42%;
    height: 32px;
    line-height: 32px;
    background: #f6dbe2;
    overflow: hidden;
    border-right: 1px solid #605559;
    border-bottom: 1px solid #605559;
}
.n-toplis .n-frRit{
    width: 58%;
    height: 32px;
    line-height: 32px;
    background: #fff;
    overflow: hidden;
    border-right: 1px solid #605559;
    border-bottom: 1px solid #605559;
}
.num_left{
    font-size:20px;color:#000;
}
.num_right{
    font-size:20px;color:#000;float:left;padding-right:20px;
}
.money_xiazhu{
    padding-left:17px;clear: both;width: 100%;height: 28px;line-height:28px;font-size:20px;color: #000000;
}
.accept_money{
    padding-left:17px;clear: both;width: 100%;height: 28px;line-height:28px;font-size: 20px;color: #000000;
}
/*第1`5球下面具体参数显示-------*/
.m-All-Conlis{
    width: 80%;
    margin-top: 30px;
}
.m-All-Conlis .n-tit{
    background: #fadfcc;
}
.n-tit th{
    border-right: 1px solid #dabb8d;
}
.m-All-Conlis .active{
    background: #fff5c7;
}
.n-Tdlis td{
    width: 4%;
    border-right: 1px solid #dabb8d;
}
.n-Tdlis td:nth-child(even){
    background: #fdf8f2;
}
/*第一球------------------------------*/
.m-Qs-tit{
    width: 100%;
    background: #f1d3b0;
    line-height: 32px;
}  