.root1080 { 
	width: 1080px;
    color: #947564;
    margin:8px auto 0px;
}
.header_title{
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background-color: #990000;
}
.tab_top{
	height:30px;
	margin: 0 auto;
	padding-top:10px;
	line-height: 30px;
	color: #FFFFFF;
	padding-left: 35%;
}
.tab_top li{
	float: left;
    margin-right: 30px;
}
.tab_top li:last-child{
	margin-right: 0px;
}
.tab_top li a{
	color: #FFFFFF;
}
.tab_top li a:hover{
	color:rgb(51,204,51);
}
.tab_top li .a_top{
	color:rgb(51,204,51);
}
.tab_bottom{
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
	color: #000;
	padding-left: 9%;
}
.tab_bottom li{
	float: left;
	margin-right: 12px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background:url(../../images/ul_bg000..png) repeat;
}
.tab_bottom li a{
	color: #000000;
}
.tab_bottom li:hover{
	background:#fff url(../../images/ul_bg000..png) repeat;
}
.tab_bottom .lightcolor{
	
	background:#fff url(../../images/ul_bg000..png) repeat;
}
.tab_bottom .lightcolor a{
	color: #FFFFFF;
}
/*单球1~5----start*/

