@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
li { list-style: none; }
img { border: none; }
input,
select,
textarea { outline: none; border: none; background: none; border-radius: 0;
  -webkit-border-radius: 0;
  /*-webkit-appearance: none;*/
  background-image: -webkit-linear-gradient(transparent, transparent);
  background-image: linear-gradient(transparent, transparent);
  font-family:"Helvetica", "Arial";
}
textarea { resize: none; }
html { -webkit-text-size-adjust:none;overflow-x:hidden;}
article， aside， details， figcaption， figure， footer， header， hgroup， menu， nav， section { display: block; }
img { display: block; max-width: 100%; height:auto; width: auto\9; /* ie8 */ vertical-align:top; }
.video embed， .video object， .video iframe { width: 100%; height: auto; }
a { border:0; text-decoration: none; outline: none;}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
em{ font-style: normal;}

.clearfix:after,
.clearfix:before { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
body {min-width:300px; /*font-family:"Helvetica", "Arial";*/ background-color: #f8f8f8; color:#030000;}
body{font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial,
"Microsoft YaHei", FreeSans, Arimo, "Droid Sans",
"wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3",
FontAwesome, sans-serif;}
.f-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/**清除浮动 **/
.clearfix:after{
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' ';
}
.fl{
    float: left;
}
.fr{
    float: right;
}

.z-hide{
    display: none !important;
}
.z-show{
    display: block !important;
}
/*页面布局宽度*/
.root1080{
    width: 1080px;
    margin:auto;
}
.boxSize{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
a{
    text-decoration: none;
}
/*通用自定义内容弹窗*/
.modal {
    padding:0 20px;
    /*width: 526px;
    height: 314px;*/
    background: #fff;
    position: fixed;
    _position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    /*margin:-157px 0 0 -283px;*/
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index: 9999;
    display: none;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    background: #000;
    display: none;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    z-index: 9998;
    min-width: 1200px;
}
.modal-overlay-visible {
    /* opacity: 1; */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.modal-in {
    display:block;
    opacity: 1 !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.modal-out {
    display: none;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.modal .modal-title {
    height: 50px;
    font-size: 16px;
    /*font-weight: 600;*/
    line-height: 50px;
    border-bottom: 1px solid #efefef;
}
.modal .modal-close {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 33;
    right: -9px;
    top: -9px;
    right: 5px\9;
    top: 5px\9;
    border-radius: 50%;
    cursor: pointer;
    background: url(../../images/spriter-images/vs-close.png?__spriter);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.modal .modal-close:hover{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.modal-buttons {
    padding: 20px 0;
    text-align: center;
}
.modal-no-buttons {
    display: none;
}


/*Indicator style*/
.preloader-indicator-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: .2;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    z-index: 9998;
}
.preloader-indicator-modal {
    width: 150px;
    height: 90px;
    position: fixed;
    _position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin:-45px 0 0 -75px;
    background: url(../../images/loading-01.gif) no-repeat;
}
/*通用按钮元件*/
.u-btn {
    display: inline-block;
    padding: 6px 20px;
    margin:0 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 1px;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    transition:all .5s ease;
    cursor: pointer;
}
/*火狐按钮兼容*/
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
    border:none;
    padding:0;
}
.u-btn-blockb {
    width: 100%;
    display: block;
}
.u-btn-blocka {
    display: block;
}

.u-btn-white,.u-btn-white:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.u-btn-red {
    color: #fff;
    background-color: #dd2e29;
    border-color: #dd2e29;
}
.u-btn-red:hover {
    background: #f7413a;
    border-color: #f7413a;
    color: #fff;
}
.u-btn-red-oe {
    color: #dd2e29;
    background: #fff;
    border-color: #dd2e29;
}
.u-btn-red-oe:hover {
    color: #fff;
    background: #dd2e29;
    border-color: #dd2e29;
}





